#start-btn{
    top:200px;
    left:100px;
    font-size:80px;
    position: absolute;
}
#flappyBird{
    position: relative;
}
.container
{
    height: 512px;
    width: 288px;
    position: relative;
}
