.header-container
{
    padding-left: 172px;
    padding-right: 168px;
    overflow: auto;
}
.header-top
{
    line-height: 80px;
    background-color: #76c7c1;
    overflow: auto;
    background-image: url(../images/header-bar.png);
    background-position: right bottom;
    background-repeat: repeat-x;
}
.header-top-left
{
    float: left;
}
.header-top-right
{
    float: right;
}
.header-top-right ul
{
    list-style: none;
    float: right;
}
.header-top-right li
{
    float: left;
   /* padding:0 18px;*/
    overflow: auto;
}
.header-top-right li a
{
    
    font-size: 14px;
    color: #f7ffff;
    text-decoration: none;
    padding:5px;
}
.header-top-right li a:active
{
   
    font-size: 14px;
    background-image: url(../images/menu-active.png);
    background-repeat: no-repeat;
    text-decoration: none;
  
}
.header-bottom
{
    line-height: 80px;
    background-color: #ececec;
    overflow: auto;
}
.header-bottom-left
{
    float: left;
}
.header-bottom-left h1
{
    font-size: 20px;
    color: #818785;
}
.header-bottom-right
{
    float: right;
}
.header-bottom-right h2{
    font-size: 14px;
    color: #818785; 
    text-decoration: none;  
}
/*body common*/
.body-container
{
    padding-left: 162px;
    padding-right: 168px;
}
/*body top*/
.body-top
{
    background-color: #f3f3f3;
}
.body-top-arrow
{
    line-height: 14px;
}
.body-top-description
{
    margin-top:55px;
}
.body-top-description h1
{
    font-size: 30px;
    color: #ee484a;  
}
.body-top-description p
{
    margin-top: 10px;
    font-size: 14px;
    color: rgb(133, 142, 141);      
}
.body-col3-wrapper
{
    overflow: auto;
}
.col3-left
{
    float: left;
}
.col3-right
{
    float: right;
    overflow: auto;
}
.col3-right-left
{
    float: left;
}
.col3-right-right
{
    float: right;
}
/*body top end*/
/*body middle*/
.body-middle
{
    background-color: #ececec;
}
/*body middle end*/
/*body bottom*/
.body-bottom
{
    background-color: #f3f3f3;
}
.body-bottom-top
{
    text-align: center;
}
/*body bottom end*/